@import url('https://fonts.cdnfonts.com/css/royal-moscow');

* {
    font-family: 'ROYAL MOSCOW', sans-serif;
                                                
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }


  nav,
  .page-footer {
    background: rgb(59,76,202);
    background: linear-gradient(176deg, rgba(59,76,202,1) 0%, rgba(0,0,0,1) 100%);
  }

  .brand-logo {
    margin: 0;
  }
  
  .icon {
    height: 60px;
    position: absolute;
    left: 250px;
  }
  