{% extends 'base.html' %} {% block content %}

<h1>Pokemon List</h1>

{% for pokemon in pokemons %}
<a href="{% url 'detail' pokemon.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ pokemon.name }}</span>
      {% for photo in pokemon.photo_set.all %}
      <img class="responsive-img card-panel img-size" src="{{ photo.url }}">
  {% endfor %}
      <p>Type: {{ pokemon.type }}</p>
      <p>Description: {{ pokemon.description }}</p>
      {% if pokemon.age > 0 %}
      <p>Age: {{ pokemon.age }}</p>
      {% else %}
      <p>Age: Baby Pokémon!</p>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %} {% endblock %}
